<html lang="en">
    <head>
        <title>
        {% block head_title %}
        {% endblock %}
        </title>
    </head>
    
    <body>
<h1><a href="home">Supreme Court of the United States Timeline</a></h1>
    
    <!-- Page Title -->
    <h2>
    {% block title %}
    {% endblock %}
    </h2>

    <!-- Page Feature -->
    {% block feature %}
    {% endblock %}
    
    <!-- links to other parts of the site -->
    <h4>
    {% block sidebar %}
    {% endblock %}
    </h4>

    </body>
</html>
