<html lang="en">
    <head>
        <title>
        {% block head_title %}
        {% endblock %}
        </title>
    </head>
    
    <body>
<h1><a href="{% url home %}">Supreme Court of the United States Timeline</a></h1>
    
    <!-- links to other parts of the site -->
    <h4>
    {% block sidebar %}
    <a href="{% url home %}">Home</a>
    <a href="{% url category_list %}">Categories</a>
    <a href="{% url justice_list %}">Justice</a>
    <a href="{% url case_list %}">Cases</a>
    {% endblock %}
    </h4>
   
    <!-- Page Title -->
    <h2>
    {% block title %}
    {% endblock %}
    </h2>

    <!-- Page Content -->
    {% block content %}
    {% endblock %}
    
    </body>
</html>
